<div class='tab' data-tab='hotspots'>
  <p class='notes'>
    Use this drawing to trigger a hotspot macro
  </p>
  <hr>
  <h3 class='form-header'>
    <i class="fas fa-mouse-pointer"/></i>
    Click
  </h3>
  <p class='notes'>Description tktk</p>
  <div class='form-group'>
    <label for='clickMacro'>Macro name</label>
    <input class='dropspot' type='text' name='flags.hotspots.clickMacro' data-dtype='String' value='{{ clickMacro }}'>
  </div>
  <hr>
  <h3 class='form-header'>
    <i class="fas fa-arrows-alt"/></i>
    Movement
  </h3>
  <p class='notes'>Description tktk</p>
  <div class='form-group'>
    <label for='moveMacro'>Macro name</label>
    <input class='dropspot' type='text' name='flags.hotspots.moveMacro' data-dtype='String' value='{{ moveMacro }}'>
  </div>
</div>
